@model FirstMvcApp.Models.Student

<h2>Student Info</h2>
<table>
    <tr><td>Name</td><td>@Model.Name</td></tr>
    <tr><td>Last</td><td>@Model.LastName</td></tr>
    <tr><td>Mark</td><td>@Model.Mark</td></tr>
</table>